@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
}

.main-header {
  display: flex;
  padding-right: 70px;
  padding-left: 70px;
}

.logo {
  margin-right: 30px;
}

.logo img {
  position: relative;
  margin-bottom: -10px;
}

.main-navigation {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  margin-right: auto;
  flex-wrap: wrap;
}

.navigation-user {
  list-style: none;
  margin-right: 20px;
  padding: 0;
  display: flex;
}

.navigation-user li {
  min-width: 20px;
  min-height: 20px;
}

.main-page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.navigation-list-item {
  padding: 0 16px;
}

.navigation-list-item a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  padding: 20px 0;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
}

.button-brown {
  background-color: #756157;
}

.button-blue {
  background-color: #82b3d3;
}

.button-green {
  background-color: #7db54f;
}

.button-clear {
  background-color: transparent;
}

.button-nav-size {
  width: 140px;
  padding: 8px 10px;
  text-align: center;
  border-radius: 4px;
}

.button-search-size {
  width: 355px;
  text-align: center;
  padding: 8px 10px;
  border-radius: 4px;
}

.button-subscribe-size {
  width: 212px;
  line-height: 36px;
  font-size: 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 8px 10px;
}

.button-filter-submit {
  width: 191px;
  padding: 8px 10px;
  border-radius: 4px;
  margin: 0;
  margin-top: 56px;
  margin-bottom: 32px;
}

.button-filter-reset {
  width: 191px;
  padding: 8px 10px;
  border-radius: 4px;
  margin: 0;
}

.button-more-size {
  display: block;
  width: 120px;
  text-align: center;
  padding: 8px 10px;
  border-radius: 4px;
}

.button-favorite-size {
  width: 140px;
  padding: 8px 10px;
  border-radius: 4px;
}

.button-selected-size {
  width: 140px;
  padding: 8px 10px;
  border-radius: 4px;
}

.main-sticky {
  flex-grow: 1;
}

.hero {
  background-color: #2a373d;
  background-image: url("../images/hero-pattern.svg"), url("../images/hero-image.jpg");
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
}

.advantages {
  padding-top: 69px;
}

.advantages h2 {
  width: 620px;
  margin: 0;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.advantages .subtitle-two {
  width: 651px;
  margin: 0;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-recreation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-two {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subtitle-two {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.title-three {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.card-size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-recreation-item h3 {
  padding-top: 30px;
  margin: 0;
  width: 175px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.alternative-style-blue {
  background-color: #82b3d3;
  color: #ffffff;
}

.alternative-style-blue h3 {
  color: #ffffff;
}

.advantages-recreation-item p {
  text-align: center;
  width: 230px;
  margin: 0;
  margin-bottom: 30px;
}

.alternative-style-grey {
  background-color: #f0f5f9;
}

.alternative-style-dark-grey {
  background-color: #e6f0f6;
}

.advantages-recreation-item {
  width: 400px;
  min-height: 385px;
}

.advantages-recreation-item:first-child,
.advantages-recreation-item:last-child {
  display: flex;
  width: 1200px;
}

.advantages-recreation-item-order img {
  order: -1;
}

.advantages-recreation-item img {
  max-width: 800px;
  height: 100%;
  object-fit: cover;
}

.image-column {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantages-comfort {
  padding-top: 64px;
}

.advantages-comfort .title-two {
  width: 505px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.advantages-comfort .subtitle-two {
  width: 490px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}

.advantages-comfort-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-comfort-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-comfort-item .title-three {
  width: 230px;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 183px;
}

.advantages-comfort-item p {
  width: 230px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.search {
  padding: 96px 0;
}

.search .title-two {
  margin: 0;
  width: 297px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.search .subtitle-two {
  margin: 0;
  width: 592px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
}

.search-hotel {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subscribe {
  background-color: #96abb9;
  color: #ffffff;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-main {
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe .title-two {
  color: #ffffff;
  margin: 0;
  width: 404px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.subscribe .subtitle-two {
  width: 475px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  text-align: center;
}

.input-subscribe-size {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 412px;
  padding: 14px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}

.main-footer {
  padding: 0 70px;
  display: flex;
  width: 1060px;
  padding-top: 40px;
  padding-bottom: 30px;
  align-items: center;
}

.footer-nav {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.social-size {
  display: block;
  width: 48px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.vkontakte {
  background-image: url("../images/social/vkontakte.svg");
}

.telegram {
  background-image: url("../images/social/telegram.svg");
}

.youtube {
  background-image: url("../images/social/youtube.svg");
}

.address-footer {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.address-footer a {
  text-decoration: none;
  font-style: normal;
  color: #000000;
}
